:root {
    --grey-900: #000000;
    --grey-500: #898989;
    --grey-300: #D5D5D5;
    --grey-200: #EAEAEA;
    --navy-800: #040138;
    --light: #ffffff;
    --text-bold: 600;
    --text-light: 400;
  }