@import url(variables.css);

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-container {
  border-right: 2px solid var(--grey-500);
  padding-right: 1rem;
}

.fa-angle-down:before {
  font-size: 0.8rem;
  padding: 0 0.25rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link.dropdown {
  font-size: 1.25rem;
  position: relative;
}

.dropdown-icon {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--light);
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 140px;
  border-radius: 0 0 8px 8px;
  padding: 1rem 0;
}

.dropdown-container:hover .dropdown-content,
.dropdown-content:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dropdown-link {
  color: var(--grey-900);
  font-weight: var(--text-weight-normal);
  display: block;
  padding: 0.75rem 1.25rem;
}

.dropdown-content > ul > li:hover {
  background-color: var(--grey-200);
  cursor: pointer;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  background-color: var(--grey-300);
  padding: 0.75rem;
  border-radius: 10px;
  margin-left: 1.5rem;
}

.username,
.nav-link,
.avatar {
  color: var(--grey-900);
  font-weight: var(--text-weight-bold);
}

.additional-links-container {
  background-color: var(--navy-800);
}

.additional-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.additional-link {
  color: var(--light);
  font-weight: var(--text-weight-bold);
  padding: 0 1rem;
}

.additional-links > li {
  position: relative;
}

.additional-links > li.active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--teal-900);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -16px;
}

.mobile-menu {
  display: none;
}

.mobile-menu > i {
  cursor: pointer;
}

.heading {
  margin: 1rem 0;
}

@media screen and (min-width: 1440px) {
  .additional-links-container {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 1439px) {
  .additional-links-container {
    padding: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  .nav-links > li:not(.dropdown-container) {
    padding: 0 1.5rem;
  }

  .dropdown-container {
    padding: 0 1.5rem 0 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-menu {
    padding: 0 1.5rem;
  }

  .nav-links > li:not(.mobile-menu):not(.dropdown-container),
  .username {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-links > li:not(.dropdown-container) {
    position: relative;
  }

  .nav-links > li.active:not(.dropdown-container):after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--teal-900);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -26px;
  }
}

@media screen and (max-width: 767px) {
  .additional-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .heading {
    margin: 0.5rem 0 1rem;
  }
}
