@import url(variables.css);

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 1px solid #171e3126;
}

.pagination-controls {
  background-color: var(--light);
}

.current-page {
  margin: 0 0.5rem;
}

.pagination-controls,
.current-page {
  border: 1px solid var(--grey-500);
  border-radius: 8px;
  padding: 0.75rem 1rem;
}

@media screen and (min-width: 768px) {
  .page-numbers {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 767px) {
  .pagination {
    padding: 1rem 0.5rem;
  }

  .page-numbers {
    padding: 0 0.5rem;
  }
}