@import url(variables.css);

.table-container {
  overflow-x: auto;
}

.table-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5rem;
}

.table-heading,
.table-data {
  text-align: left;
}

.table-heading.table-heading-price,
.table-data.table-data-price {
  text-align: end;
}

#filter-button {
  border: 1px solid var(--grey-500);
  border-radius: 8px;
  padding: 0.5rem 1.25rem;
  font-weight: var(--font-weight-bold);
  background-color: #fff;
}

#products-table {
  border-radius: 1rem;
}

.table-product-item:nth-child(even) {
  background-color: var(--light);
}

.table-product-item:nth-child(odd) {
  background-color: var(--grey-100);
}

.table-image {
  border: 1px solid #707070;
  vertical-align: middle;
}

.table-heading,
.table-data {
  padding: 0.5rem 0.5rem 0.75rem;
}

@media screen and (min-width: 768px) {
  .table-data:first-child,
  .table-heading:first-child {
    padding-left: 1.5rem;
  }
  
  .table-data:last-child,
  .table-heading:last-child {
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .table-data:first-child,
  .table-heading:first-child {
    padding-left: 1rem;
  }
  
  .table-data:last-child,
  .table-heading:last-child {
    padding-right: 1rem;
  }

  .table-info {
    padding: 1.5rem 1rem;
  }
}

