:root {
  --teal-900: #029fb4;
  --grey-900: #000000;
  --grey-500: #898989;
  --grey-300: #d5d5d5;
  --grey-200: #eaeaea;
  --grey-100: #f2f2f2;
  --navy-800: #040138;
  --light: #ffffff;
  --text-weight-bold: 600;
  --text-weight-normal: 400;
  --text-weight-medium: 500;
}
